<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <header>
        <h1 class="text-gray-600 text-6xl tracking-wider font-mono font-bold text-center">VueApp1-1</h1>
    </header>
    <div id="app" class="w-6/12 font-mono font-bold my-auto mx-auto">
        <p class="text-center pt-6 pb-6">Hello <span class="text-4xl">{{ name.toUpperCase() }}</span></p>
        <p class="w-full"><input type="text" v-model="name" class="border-2 p-2 rounded-lg w-full"></p>
        <h3 class="text-4xl">List</h3>
        <ul class="p-4">
        <div v-if="todos.length">
        <li v-for="(todo , index) in todos" class=" border-b-2 pb-4 pt-4">
            {{ todo }}
            <span v-on:click="deleteTodo(index)" class="delete">
                [X]
            </span>
        </li>
        </div>
        <div v-else>
            <li>配列に値が存在しません</li>
        </div>
    </ul>
    <ul>
        <div v-if="result.length">
            検索結果：{{result.length}}<br>
        <li v-for="(item,index) in result">
            {{ item }}
        </div>
        </li>
            <div v-else>
                一致するものがアリません。
            </div>
    </ul>
    <form v-on:submit="searchTodo">
        <input type="text" v-model="changeTodo" class="border-2">
        <input type="submit" value="search">
    </form>
    <form v-on:submit="addTodo">
        <input type="text" v-model="newTodo" class="border-2">
        <input type="text" v-model="secondTodo" class="border-2">
        <input type="submit" value="add">
    </form>
</div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="../js/main.js"></script>
</body>
</html>